<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Вакансии</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body style="background-color: #D1E8E2">
<div th:insert="blocks/header">
</div>
<h1 style="text-align: center">Все вакансии</h1>
<a style="margin-left: 15px" class="btn btn-warning" href="/vacancy/filter">Поиск вакансий</a>
<a style="margin-left: 15px" class="btn btn-warning" href="/vacancy/add">Добавить вакансию</a>

<table style="background-color: #FFCB9A" class="table">
    <div th:each="el : ${vacancy}">
        <tr>
            <th>Должность</th>
            <th>Оклад</th>
            <th></th>
        </tr>
        <tr>
            <th><h5 th:text="${el.post}" ></h5></th>
            <th><h5 th:text="${el.salary}" ></h5></th>
            <th><a th:href="'/vacancy/' + ${el.id}" class="btn btn-outline-success">Подробнее</a></th>
        </tr>
    </div>
</table>
</body>
</html>